<% unless current_user %>
  <div class="d-flex justify-content-center" style="margin-top: 100px; font-family:'Baloo 2', cursive;">
    <div class="card shadow bg-body rounded border-light" style="width: 370px; padding-left: 70px">
      <div class="card-body">
        <strong><p>You need to sign in first</p></strong>
      </div>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-center" style="margin-top: 100px">
  <div class="card shadow  mb-5 bg-body rounded border-light">
    <div class="card-body">
      <div class="img-fluid">
        <%== @svg %>
      </div>
    </div>
  </div>
</div>
<div class="card bg-light d-flex m-auto mt-4" style=" text-align: center; width: fit-content">
  <div id="link" class="text-dark" style="font-style: oblique; padding: 10px">
    <%= @url %>
  </div>
  <button onclick="copy_url()" type="button" class="btn btn-outline-info">Copy Link</button>
</div>
<script>
    function copy_url() {
        const range = document.createRange();
        range.selectNode(document.getElementById("link"));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        document.execCommand("copy");
        window.getSelection().removeAllRanges();
    }
</script>
<%= render "users/shared/layout" %>