<%= render '/users/shared/banner' %>
<%= render 'errors/flash_error' %>
<div class="container" style="margin-bottom: 100px; max-width: 1220px">
  <h4>Winners Feedback</h4>
  <div class="row row-cols-4">
    <img src="phone.png" class="col" width="250px" alt="iphone" data-wow-delay="0.3s">
    <img src="phone.png" class="col" width="250px" alt="iphone" data-wow-delay="0.3s">
    <img src="phone.png" class="col" width="250px" alt="iphone" data-wow-delay="0.3s">
    <img src="phone.png" class="col" width="250px" alt="iphone" data-wow-delay="0.3s">
  </div>
  <h4>Coming Soon</h4>
  <div class="row row-cols-4">
    <img src="phone.png" class="col" width="250px" alt="iphone" data-wow-delay="0.3s">
    <img src="phone.png" class="col" width="250px" alt="iphone" data-wow-delay="0.3s">
    <img src="phone.png" class="col" width="250px" alt="iphone" data-wow-delay="0.3s">
    <img src="phone.png" class="col" width="250px" alt="iphone" data-wow-delay="0.3s">
  </div>
</div>
<%= render "users/shared/layout" %>