<div class="main">
  <div class="card w-50 bg-light" style="margin: 0 auto; float: none; margin-top: 70px;">
    <div class="card-body">
      <%= render 'errors/error', model: @category %>
      <%= form_for @category, url: admin_categories_path, method: :post do |f| %>
        <%= render partial: 'form', locals: { f: f, category: @category } %>
      <% end %>
    </div>
  </div>
</div>
