<div class="input-group">
  <span class="input-group-text">Coins</span>
  <%= f.number_field :coin, min: 1, value: 1, class: "form-control" %>
</div>
<div class="input-group mt-3">
  <span class="input-group-text">Remarks</span>
  <%= f.text_field :remarks, class: "form-control" %>
</div>
<div class="input-group d-flex">
  <%= f.submit class: 'btn btn-primary mt-3 mx-auto' %>
</div>